---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aviso de Privacidad">
    <div class="p-4 text-lg">
        <h2 class="text-3xl">Aviso de Privacidad</h2>
        <p class="my-3">
            <b>Responsable del Tratamiento de los Datos Personales:</b> brayant.host, con domicilio en México, es responsable de la recopilación, uso, protección y
            tratamiento de los datos personales que recabamos a través de este
            sitio web.
        </p>
        <h3 class="text-xl font-bold">Datos que Recopilamos:</h3>
        <ul class="list-disc ml-7 ">
            <li class="">Nombre.</li>
            <li>Dirección de correo electrónico.</li>
        </ul> 

        <p class="my-3">
            <b>Finalidad del Tratamiento de los Datos:</b>
            Los datos personales que recopilamos a través del formulario de
            contacto en este sitio web serán utilizados únicamente para:
        </p>

        <ul class="list-disc ml-7 ">
            <li>Responder a tus preguntas o comentarios.</li>
            <li>Proporcionar información sobre los servicios ofrecidos.</li>
        </ul>

        
        <p class="my-3">
            <b>Transferencia de Datos a Terceros:</b>
            Para el funcionamiento del formulario de contacto, utilizamos el
            servicio de Formspree.io, quien podrá procesar los datos que
            ingreses para enviarlos a nuestro correo electrónico. Formspree.io
            cumple con estándares de seguridad y privacidad internacionales. No
            compartiremos tus datos personales con terceros para ningún otro fin
            sin tu consentimiento.
        </p>

        

        <p class="my-3">
            <b>Derechos ARCO (Acceso, Rectificación, Cancelación y Oposición):</b>
            Tienes derecho a acceder, rectificar, cancelar u oponerte al
            tratamiento de tus datos personales. Para ejercer estos derechos,
            puedes enviar un correo electrónico a hola@brayant.host
            especificando tu solicitud.
        </p>

        
        <p class="my-3">
            <b class="text-xl font-bold">Modificaciones al Aviso de Privacidad:</b>
            Este aviso de privacidad puede ser actualizado en cualquier momento.
            Cualquier modificación será publicada en esta página.
        </p>

        
        <p class="my-3">
            <b class="text-xl font-bold">Contacto:</b>
            Si tienes alguna pregunta sobre este aviso de privacidad, puedes
            contactarnos en hola@brayant.host.
        </p>
    </div>
</Layout>
