---
import Layout from "../layouts/Layout.astro";
import "../../public/memoji4.png";
import Footer from "../components/Footer.astro"
import MyProjects from "../components/MyProjects.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout title="Brayant F - Product Designer">
	<div class="lg:w-11/12 h-screen flex justify-center items-center flex-col">
		<!-- imagen -->
		<div
			class="w-28 flex justify-center items-center rounded-full bg-cyan-50"
		>
			<img class="bg-center overflow-hidden" src="memoji4.png" alt="" />
		</div>
		<!-- saludo -->
		<div class="mt-10">
			<h2 class="md:text-3xl text-xl font-bold">
				Hola, soy Brayant F. 🤟
			</h2>
		</div>
		<!-- descripcion -->
		<div class="mt-9 px-2">
			<p class="md:text-6xl text-center font-bold text-3xl">
				Desarrollador de software, sitios web, tiendas online y
				aplicaciones web.
			</p>
			<p
				class="md:text-2xl text-xl text-center mt-10 text-gray-100 w-3/4 m-auto"
			>
				Diseñador de productos y digitales en MTY Nuevo Leon. Me
				especializo en Paginas Web, Tiendas en Linea y Sistemas Web.
			</p>
		</div>
		<div class="mt-4 flex gap-2">
			<!-- botones CTA -->
			<a
				href="https://www.instagram.com/brayan_tsj/"
				target="_blank"
				class="py-2 px-5 rounded-xl text-orange-500 font-bold transition duration-700 hover:bg-orange-500 hover:text-white"
				>@Brayan_tsj</a
			>
			<a
				href="https://www.instagram.com/brayan_tsj/"
				target="_blank"
				class="py-2 px-7 rounded-xl border border-b-orange-500 border-r-orange-500 hover:bg-orange-500 hover:border-orange-500 transition duration-700"
				>Cotizar</a
			>
			
		</div>
	</div>
	<AboutMe />
	<MyProjects />
</Layout>
