---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aviso de Privacidad">
    <div class="p-4 text-lg">
        <h2 class="text-3xl">Términos y Condiciones</h2>
        <p class="my-3">
            <b>Aceptación de los Términos:</b> Al navegar y utilizar este sitio web,
            aceptas cumplir con los términos y condiciones aquí descritos. Si no
            estás de acuerdo, por favor, no utilices este sitio web. sitio web.
        </p>

        <p class="my-3">
            <b>Uso del Sitio Web:</b>
            Este sitio web tiene como propósito proporcionar información sobre mi
            trabajo y portafolio como [desarrollador web/otro]. El contenido es únicamente
            para fines informativos.
        </p>

        <p class="my-3">
            <b>Propiedad Intelectual:</b>
            Todo el contenido de este sitio web, incluyendo textos, imágenes, logos
            y diseño, es propiedad de brayant.host y está protegido
            por leyes de derechos de autor. No puedes copiar, reproducir o distribuir
            este contenido sin permiso expreso.
        </p>

        <p class="my-3">
            <b>Formulario de Contacto:</b>
            El formulario de contacto utiliza el servicio de Formspree.io. Al utilizar
            el formulario, aceptas que tus datos se procesen a través de esta herramienta
            externa.
        </p>

        <p class="my-3">
            <b class="text-xl font-bold">Limitación de Responsabilidad:</b>
            No garantizamos que el sitio web esté libre de errores o que funcione de manera ininterrumpida. No nos hacemos responsables por daños derivados del uso de este sitio web.
        </p>

        <p class="my-3">
            <b class="text-xl font-bold">Modificaciones a los Términos:</b>
            Nos reservamos el derecho de modificar estos términos en cualquier momento. Los cambios serán publicados en esta página y su uso continuado del sitio implicará la aceptación de los mismos.
        </p>

        <p class="my-3">
            <b class="text-xl font-bold">Contacto:</b>
            Para cualquier consulta sobre estos términos, puedes escribirnos a hola@brayant.host.
        </p>
    </div>
</Layout>
