---
interface Props {
    title: string,
    href: string,
    img: string
}

const { title, href, img } = Astro.props
---
<div class="group bg-gray-800 rounded-md p-0 overflow-hidden">
    <div class="overflow-hidden">
        <img src={img} alt={img} class="transform transition duration-700 ease-in-out group-hover:scale-110">
    </div>
    <div class="p-4">
        <a href={href} target="_blank" class="text-xl">{title}</a>
        <p>
            <slot />
        </p>
    </div>
</div>