<footer class="bg-gray-800 rounded-t-md mt-9 md:mt-0 p-4">
    <div class="w-full flex flex-col items-center mb-3">
        <div class="w-20 my-4 flex justify-center items-center rounded-full bg-cyan-50">
            <img class="bg-center overflow-hidden" src="memoji4.png" alt="" />
        </div>
        <div class="flex">
            <a href="" class="mx-3">Home</a>
            <a href="#sobre_mi" class="mx-3">Sobre mí</a>
            <a href="#proyectos" class="mx-3">Proyectos</a>
            <a href="#contacto" class="mx-3">Contacto</a>
        </div>
        
    </div>
    <div class="border-t-2 flex justify-between py-3">
        <a href="/aviso_privacidad">Aviso de Privacidad</a>
        <a href="/terminos_condiciones">Terminos y Condiciones</a>
    </div>
    
</footer>
